<!DOCTYPE html>

<html>

	<head>
		<meta charset="UTF-8">
		<title>Web RU - Cadastrar Novo Parâmetro</title>
	</head>

	
	<body>
		<form method="POST">
			Descrição: <input type="text" name="descricao"/><br/>
			Valor: <input type="number" name="valorMonetario"/><br/>
			
			<select name="identificador">
            	<option value="NULL" selected>-SELECIONE-</option>
                <option value="VL_PADRAO_JANTAR">VALOR PADRÃO DO JANTAR</option>
                <option value="VL_PADRAO_ALMOCO">VALOR PADRÃO DO ALMOÇO</option>
                <option value="VL_PADRAO_JANTAR_ALUNO">VALOR PADRÃO DO JANTAR PAGO PELO ALUNO</option>
                <option value="VL_PADRAO_ALMOCO_ALUNO">VALOR PADRÃO DO ALMOÇO PAGO PELO ALUNO</option>
            </select>
			<button type="submit">Cadastrar</button>
		</form>
	</body>

</html>