<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Web RU - Parâmetros</title>
</head>

<body>
	<table border="1px">
		<thead>
			<tr>
				<td>Código</td>
				<td>Descrição</td>
				<td>Valor</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="parametroHorario: ${parametrosHorarios}">
				<td th:text="${parametroHorario.codigo}"></td>
				<td th:text="${parametroHorario.descricao}"></td>
				<td><span th:text="${#temporals.format(parametroHorario.horario, 'HH:mm')}"></span></td>
			</tr >
			<tr th:each="parametroMonetario: ${parametrosMonetarios}">
				<td th:text="${parametroMonetario.codigo}"></td>
				<td th:text="${parametroMonetario.descricao}"></td>
				<td th:text="${parametroMonetario.valorMonetario}"></td>
			</tr>
		</tbody>
	</table>
</body>

</html>