<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8">
<title>Web-RU UFERSA</title>
</head>

<body>
	<form action="/relatorioCompletoRefeicoes" method="get">
		<select name="mes">
			<option value="01">Janeiro</option>
			<option value="02">Fevereiro</option>
			<option value="03">Março</option>
			<option value="04">Abril</option>
		</select>
		<button type="submit">Selecionar</button>
	</form>

</body>
</html>