<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="UTF-8">
	<title>Web-RU UFERSA</title>
	<link type="text/css" rel="stylesheet" href="bootstrap/css/bootstrap.min.css"  media="screen,projection"/>
	<link type="text/css" rel="stylesheet" href="style/style.css"  media="screen,projection"/>
</head>

<body>
	<h1>Olá</h1>
	
	 <script type="text/javascript" src="bootstrap/css/bootstrap.min.js"></script>
</body>

</html>